.hero-container {
    padding: 10rem 0;
    background-color: var(--dark);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.hero-left p {
    color: var(--bg-dark);
    width: 400px;
}

.hero .hero-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
    margin-top: 1rem;
}

.kicker {
    margin-right: 8px;
}